appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
Brotli==1.0.9
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
click==6.7
cssselect==1.1.0
Cython==0.28.2
dash==0.21.0
dash-core-components==0.22.1
dash-html-components==0.10.0
dash-renderer==0.12.1
decorator==4.3.0
fake-useragent==0.1.11
feedparser==6.0.2
Flask==1.1.2
Flask-Compress==1.8.0
idna==2.6
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
jupyter-core==4.7.1
lxml==4.6.2
MarkupSafe==1.1.1
multitasking==0.0.9
nbformat==4.4.0
numpy==1.20.1
pandas==1.2.2
pandas-datareader==0.9.0
parse==1.19.0
plotly==2.5.1
pyee==8.1.0
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
python-dateutil==2.7.3
python-dotenv==0.15.0
pytz==2018.4
pywin32==300
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-html==0.10.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2
tqdm==4.57.0
traitlets==5.0.5
urllib3==1.26.3
w3lib==1.22.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
yahoo-fin==0.8.7
yfinance==0.1.55
